<%= form_tag archive_select_home_index_path do %>

	<div class="clearfix"></div>
	<div class="text-select" style="margin: auto; width: 60%;">
		<%if !@unarchive_year.blank?%>
	      <div style="padding-left: 175px;">Please select Year To Archive 
	        <%=hidden_field_tag :user_id,params[:select_user_id]%>
	      	<%= select_tag :year,  options_for_select(@unarchive_year.map{|c| [c.year, c.year]}) %>
	      </div>
	      <%else%>
	      No Any Year To Archive.
	      <%end%>
	     <%=submit_tag 'submit',:class=>"btn",:style=>"margin-left: 174px;"%>

	</div>
	    <!--text-select--><br>
	</div>
<%end%>
 
