
<%= form_tag archive_select_home_index_path do %>

	<div class="clearfix"></div>
	<div class="text-select" style="margin: auto; width: 60%;">
		<%if !@unarchive_sorted_years.blank?%>
		     <div style="padding-left: 175px;">Please select Year To Archive 
	      	<%=select_tag 'year', options_for_select(@unarchive_sorted_years.collect{ |u| [u, u] }) %>
	      </div>
	      <%else%>
	      No Any Year To Archive.
	      <%end%>
	     <%=submit_tag 'submit',:class=>"btn",:style=>"margin-left: 174px;"%>

	</div>
	    <!--text-select--><br>
	
<%end%>
 
