<%= form_for recommend_search_home_index_path,:remote=>true do |f|%>

	<div class="clearfix"></div>
	<div class="text-select" style="margin: auto; width: 60%;">
	      <p style="padding-left: 175px;">Please select farmer</p>
	      <%= f.select :farmers_id, @farmer.map{|c| [c.first_name, c.id]}, { include_blank: "lists of farmers" },:class=>"select" %>
	</div>
	    <!--text-select--><br>
	</div>
<%end%>