<div class="inner">
  <div class="accordion-inner">
   <script type="text/javascript" src="http://marketwise.websol.barchart.com/?js=1"></script>
   <script type="text/javascript" src="http://marketwise.websol.barchart.com/?module=futureDetail&js=1"></script>
    </div><!--accordion-inner-->
</div><!--inner-->

