
<style>
 .list-select{ border-left:1px solid #EBEBEB; border-right:1px solid #EBEBEB; background-color:#f1f1f1; }
</style>
<script>

// $("#li_"+li_id).addClass('list-select')

</script>
<style>
li a p.list-select{ border-left:1px solid #EBEBEB!important; border-right:1px solid #EBEBEB!important; background-color:#f1f1f1!important; }
</style>
 

<% @user_id=current_user.id%>

 <div class="inner">
  <div class="accordion-inner">
     
   
    <div class="clearfix"></div>
    <!--clearfix-->
    
    
    
      <div class="news" style="margin-top:15px;"> <a href="javascript:void(0);" class="pull-left corn">
     
        Please Choose Farmer
    
    
<!--news-->
</div>
  <!--accordion-inner-->
</div>
              <!--inner-->
<style>
.cash_sale{margin-left: 2px!important;}
</style>
<script>
$(document).ready(function() {

$("#archive").click(function(){


$(".archive_year").toggle();
});

});
</script>
